<nav class="navbar-inverse">
    <ul>
        <li>
            <%= link_to 'Page One' , pages_one_path %>
        </li>
        <li>
            <%= link_to 'Page Two' , pages_two_path %>
        </li>
        <li>
            <%= link_to 'Page Three' , pages_three_path %>
        </li>
    </ul>
</nav>